In [2]:
import pandas as pd
course_name = ['Data Science', 'Machine Learning', 'Big Data', 'Data Engineer']
duration = [2,3,6,4]
df = pd.DataFrame(data = {'course_name' : course_name, 'duration' : duration})

In [4]:
df

        course_name  duration
0      Data Science         2
1  Machine Learning         3
2          Big Data         6
3     Data Engineer         4

## Q1. Write a code to print the data present in the second row of the dataframe, df.

In [3]:
print(df.iloc[1])

course_name    Machine Learning
duration                      3
Name: 1, dtype: object

## Q2. What is the difference between the functions loc and iloc in pandas.DataFrame?

<p><b>
loc[] is label-based, which means that you have to specify rows and columns based on their row and column labels.
iloc[] is integer index-based, so you have to specify rows and columns by their integer index. <b><p>

## Q3. Reindex the given dataframe using a variable, reindex = [3,0,1,2] and store it in the variable, new_df then find the output for both new_df.loc[2] and new_df.iloc[2].

In [5]:
reindex = [3, 0, 1, 2]
new_df = df.reindex(reindex)
print(new_df.loc[2])
print(new_df.iloc[2])

course_name    Big Data
duration              6
Name: 2, dtype: object
course_name    Machine Learning
duration                      3
Name: 1, dtype: object

In [10]:
import pandas as pd
import numpy as np
columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1,2,3,4,5,6]
#Creating a dataframe:
df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)

In [11]:
df1

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.743022  0.145746  0.492261  0.479500  0.895622  0.844391
2  0.756806  0.545369  0.273340  0.132855  0.583288  0.265354
3  0.790998  0.821690  0.523409  0.127542  0.623595  0.223879
4  0.967610  0.003284  0.835116  0.966690  0.061632  0.461074
5  0.191455  0.385531  0.510182  0.459492  0.988948  0.495268
6  0.296304  0.449278  0.999245  0.399430  0.901027  0.145791

## Q4. Write a code to find the following statistical measurements for the above dataframe df1:
## (i) mean of each and every column present in the dataframe.
## (ii) standard deviation of column, ‘column_2’

In [15]:
print(df1.mean())

column_1    0.624366
column_2    0.391816
column_3    0.605592
column_4    0.427585
column_5    0.675685
column_6    0.405960
dtype: float64

In [14]:
print(df1['column_2'].std())

0.29093615436948334

## Q5. Replace the data present in the second row of column, ‘column_2’ by a string variable then find the mean of column, column_2. If you are getting errors in executing it then explain why.

In [18]:
# Replace the data
df1.loc[2, 'column_2'] = 'Shivam Rajbhar'

# Attempt to find mean (this will cause an error because column_2 now has mixed data types)
print(df1['column_2'].mean())

TypeError: unsupported operand type(s) for +: 'float' and 'str'

## Q7. Write a code to print only the current month and year at the time of answering this question.

In [19]:
import pandas as pd

current_date = pd.Timestamp.now()
print(current_date.strftime('%Y-%m'))

2024-03

## Q8. Write a Python program that takes in two dates as input (in the format YYYY-MM-DD) and calculates the difference between them in days, hours, and minutes using Pandas time delta. The program should prompt the user to enter the dates and display the result. Did you observe any difference in both the outputs? If so then explain it.

In [21]:
import pandas as pd

date1 = input("Enter first date (YYYY-MM-DD): ")
date2 = input("Enter second date (YYYY-MM-DD): ")

date1 = pd.to_datetime(date1)
date2 = pd.to_datetime(date2)

diff = date2 - date1
print(f"Difference: {diff.days}")

Enter first date (YYYY-MM-DD):  2003-01-03
Enter second date (YYYY-MM-DD):  2024-03-18

Difference: 7745

## Q9. Write a Python program that reads a CSV file containing categorical data and converts a specified column to a categorical data type. The program should prompt the user to enter the file path, column name, and category order, and then display the sorted data.

In [ ]:
import pandas as pd

file_path = input("Enter the file path of the CSV file: ")
column_name = input("Enter the column name to convert to categorical: ")
category_order = input("Enter the category order separated by commas: ").split(',')

df = pd.read_csv(file_path)

df[column_name] = pd.Categorical(df[column_name], categories=category_order, ordered=True)

print(df.sort_values(by=column_name))

## Q10. Write a Python program that reads a CSV file containing sales data for different products and visualizes the data using a stacked bar chart to show the sales of each product category over time. The program should prompt the user to enter the file path and display the chart.

In [24]:
import pandas as pd
import matplotlib.pyplot as plt

file_path = input("work/Flask-1/taxonomy.csv.xls")

df = pd.read_csv(file_path)

pivot_df = df.pivot_table(index='Month', columns='Product', values='Sales', aggfunc='sum')
pivot_df.plot(kind='bar', stacked=True)
plt.xlabel('Month')
plt.ylabel('Sales')
plt.title('Sales of Each Product Category Over Time')
plt.show()

work/Flask-1/taxonomy.csv.xls parent_id

FileNotFoundError: [Errno 2] No such file or directory: 'parent_id'

## Q11. You are given a CSV file containing student data that includes the student ID and their test score. Write a Python program that reads the CSV file, calculates the mean, median, and mode of the test scores, and displays the results in a table.

In [ ]:
file_path = input("work/Flask-1/taxonomy.csv.xls")

df = pd.read_csv(file_path)

mean_score = df['Test Score'].mean()
median_score = df['Test Score'].median()
mode_scores = df['Test Score'].mode()

results_df = pd.DataFrame({
    'Statistic': ['Mean', 'Median', 'Mode'],
    'Value': [mean_score, median_score, ', '.join(map(str, mode_scores))]
})
print(results_df)